//  ██╗███╗   ██╗██████╗ ██╗   ██╗████████╗
//  ██║████╗  ██║██╔══██╗██║   ██║╚══██╔══╝
//  ██║██╔██╗ ██║██████╔╝██║   ██║   ██║   
//  ██║██║╚██╗██║██╔═══╝ ██║   ██║   ██║   
//  ██║██║ ╚████║██║     ╚██████╔╝   ██║   
//  ╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝    ╚═╝  
input {
    keyboard {
        xkb-layout "us,ru"
        xkb-variant ""
        xkb-options "grp:alt_shift_toggle"
        repeat-delay 600
        repeat-rate 25
        repeat-exclude-keys []
    }

    pointer {
        acceleration 0.0
        acceleration-profile "default"
        natural-scroll false
        scroll-factor 1.0
    }

    touch {
        disable-while-typing true
    }

    cursor {
        hide-when-typing true
        hide-on-touch true
        hide-timeout 0
    }
}


//   ██████╗ ██╗   ██╗████████╗██████╗ ██╗   ██╗████████╗
//  ██╔═══██╗██║   ██║╚══██╔══╝██╔══██╗██║   ██║╚══██╔══╝
//  ██║   ██║██║   ██║   ██║   ██████╔╝██║   ██║   ██║   
//  ██║   ██║██║   ██║   ██║   ██╔═══╝ ██║   ██║   ██║   
//  ╚██████╔╝╚██████╔╝   ██║   ██║     ╚██████╔╝   ██║   
//   ╚═════╝  ╚═════╝    ╚═╝   ╚═╝      ╚═════╝    ╚═╝   
output "*" {
    scale 1.0
    mode "1920x1080@120Hz"
    position 0 0
    transform "normal"
    adaptive-sync false
    gamma 1.0 1.0 1.0
}


//  ██╗      █████╗ ██╗   ██╗ ██████╗ ██╗   ██╗████████╗
//  ██║     ██╔══██╗╚██╗ ██╔╝██╔═══██╗██║   ██║╚══██╔══╝
//  ██║     ███████║ ╚████╔╝ ██║   ██║██║   ██║   ██║   
//  ██║     ██╔══██║  ╚██╔╝  ██║   ██║██║   ██║   ██║   
//  ███████╗██║  ██║   ██║   ╚██████╔╝╚██████╔╝   ██║   
//  ╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝  ╚═════╝    ╚═╝   
layout {
    gaps 8
    border-width 2
    border-color "#458588ff"
    resizing-strategy "center"
    max-columns 0
    inhibit-fullscreen false
}


//   █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
//  ██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
//  ███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   ██║██║   ██║██╔██╗ ██║
//  ██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
//  ██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
//  ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
animation {
    workspace-switch-duration 300
    window-show-duration 200
    window-hide-duration 200
}


//  ███████╗ ██████╗██████╗ ███████╗███████╗███╗   ██╗      ███████╗██████╗  ██████╗ ███████╗
//  ██╔════╝██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║      ██╔════╝██╔══██╗██╔════╝ ██╔════╝
//  ███████╗██║     ██████╔╝█████╗  █████╗  ██╔██╗ ██║█████╗█████╗  ██║  ██║██║  ███╗█████╗  
//  ╚════██║██║     ██╔══██╗██╔══╝  ██╔══╝  ██║╚██╗██║╚════╝██╔══╝  ██║  ██║██║   ██║██╔══╝  
//  ███████║╚██████╗██║  ██║███████╗███████╗██║ ╚████║      ███████╗██████╔╝╚██████╔╝███████╗
//  ╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝      ╚══════╝╚═════╝  ╚═════╝ ╚══════╝
screen-edge {
    swipe-threshold 300
    left "none"
    right "none"
}


//  ██╗  ██╗███████╗██╗   ██╗    ██████╗ ██╗███╗   ██╗██████╗ ██╗███╗   ██╗ ██████╗ ███████╗
//  ██║ ██╔╝██╔════╝╚██╗ ██╔╝    ██╔══██╗██║████╗  ██║██╔══██╗██║████╗  ██║██╔════╝ ██╔════╝
//  █████╔╝ █████╗   ╚████╔╝     ██████╔╝██║██╔██╗ ██║██║  ██║██║██╔██╗ ██║██║  ███╗███████╗
//  ██╔═██╗ ██╔══╝    ╚██╔╝      ██╔══██╗██║██║╚██╗██║██║  ██║██║██║╚██╗██║██║   ██║╚════██║
//  ██║  ██╗███████╗   ██║       ██████╔╝██║██║ ╚████║██████╔╝██║██║ ╚████║╚██████╔╝███████║
//  ╚═╝  ╚═╝╚══════╝   ╚═╝       ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝
bind "Mod+Q" "quit"
bind "Mod+Return" "spawn" "alacritty"
bind "Mod+F" "spawn" "firefox"


//  ██╗    ██╗ ██████╗ ██████╗ ██╗  ██╗███████╗██████╗  █████╗  ██████╗███████╗███████╗
//  ██║    ██║██╔═══██╗██╔══██╗██║ ██╔╝██╔════╝██╔══██╗██╔══██╗██╔════╝██╔════╝██╔════╝
//  ██║ █╗ ██║██║   ██║██████╔╝█████╔╝ ███████╗██████╔╝███████║██║     █████╗  ███████╗
//  ██║███╗██║██║   ██║██╔══██╗██╔═██╗ ╚════██║██╔═══╝ ██╔══██║██║     ██╔══╝  ╚════██║
//  ╚███╔███╔╝╚██████╔╝██║  ██║██║  ██╗███████║██║     ██║  ██║╚██████╗███████╗███████║
//   ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"
workspace "10"


//  ███╗   ███╗██╗███████╗ ██████╗███████╗██╗     ██╗      █████╗ ███╗   ██╗███████╗ ██████╗ ██╗   ██╗███████╗
//  ████╗ ████║██║██╔════╝██╔════╝██╔════╝██║     ██║     ██╔══██╗████╗  ██║██╔════╝██╔═══██╗██║   ██║██╔════╝
//  ██╔████╔██║██║███████╗██║     █████╗  ██║     ██║     ███████║██╔██╗ ██║█████╗  ██║   ██║██║   ██║███████╗
//  ██║╚██╔╝██║██║╚════██║██║     ██╔══╝  ██║     ██║     ██╔══██║██║╚██╗██║██╔══╝  ██║   ██║██║   ██║╚════██║
//  ██║ ╚═╝ ██║██║███████║╚██████╗███████╗███████╗███████╗██║  ██║██║ ╚████║███████╗╚██████╔╝╚██████╔╝███████║
//  ╚═╝     ╚═╝╚═╝╚══════╝ ╚═════╝╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝ ╚═════╝  ╚═════╝ ╚══════╝
misc {
    debug-tint false
    prefer-wayland-apps false
    last-window-behavior "keep"
}