environment {
    TERMINAL "alacritty"
    BROWSER "firefox"

    ELECTRON_OZONE_PLATFORM_HINT "auto"
}


//  ██╗███╗   ██╗██████╗ ██╗   ██╗████████╗
//  ██║████╗  ██║██╔══██╗██║   ██║╚══██╔══╝
//  ██║██╔██╗ ██║██████╔╝██║   ██║   ██║   
//  ██║██║╚██╗██║██╔═══╝ ██║   ██║   ██║   
//  ██║██║ ╚████║██║     ╚██████╔╝   ██║   
//  ╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝    ╚═╝  
input {
    keyboard {
        xkb {
	        layout "us,ru"
	        options "grp:alt_shift_toggle"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

//   ██████╗ ██╗   ██╗████████╗██████╗ ██╗   ██╗████████╗
//  ██╔═══██╗██║   ██║╚══██╔══╝██╔══██╗██║   ██║╚══██╔══╝
//  ██║   ██║██║   ██║   ██║   ██████╔╝██║   ██║   ██║   
//  ██║   ██║██║   ██║   ██║   ██╔═══╝ ██║   ██║   ██║   
//  ╚██████╔╝╚██████╔╝   ██║   ██║     ╚██████╔╝   ██║   
//   ╚═════╝  ╚═════╝    ╚═╝   ╚═╝      ╚═════╝    ╚═╝   
output "eDP-1" {
    scale 1.0
    mode "1920x1080@120"
}

output "HDMI-A-1" {
    scale 1.0
    mode "1920x1080@120"
}


//  ██╗      █████╗ ██╗   ██╗ ██████╗ ██╗   ██╗████████╗
//  ██║     ██╔══██╗╚██╗ ██╔╝██╔═══██╗██║   ██║╚══██╔══╝
//  ██║     ███████║ ╚████╔╝ ██║   ██║██║   ██║   ██║   
//  ██║     ██╔══██║  ╚██╔╝  ██║   ██║██║   ██║   ██║   
//  ███████╗██║  ██║   ██║   ╚██████╔╝╚██████╔╝   ██║   
//  ╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝  ╚═════╝    ╚═╝   


//   █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
//  ██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
//  ███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   ██║██║   ██║██╔██╗ ██║
//  ██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
//  ██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
//  ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝


//  ███████╗ ██████╗██████╗ ███████╗███████╗███╗   ██╗      ███████╗██████╗  ██████╗ ███████╗
//  ██╔════╝██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║      ██╔════╝██╔══██╗██╔════╝ ██╔════╝
//  ███████╗██║     ██████╔╝█████╗  █████╗  ██╔██╗ ██║█████╗█████╗  ██║  ██║██║  ███╗█████╗  
//  ╚════██║██║     ██╔══██╗██╔══╝  ██╔══╝  ██║╚██╗██║╚════╝██╔══╝  ██║  ██║██║   ██║██╔══╝  
//  ███████║╚██████╗██║  ██║███████╗███████╗██║ ╚████║      ███████╗██████╔╝╚██████╔╝███████╗
//  ╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝      ╚══════╝╚═════╝  ╚═════╝ ╚══════╝


//  ██╗  ██╗███████╗██╗   ██╗    ██████╗ ██╗███╗   ██╗██████╗ ██╗███╗   ██╗ ██████╗ ███████╗
//  ██║ ██╔╝██╔════╝╚██╗ ██╔╝    ██╔══██╗██║████╗  ██║██╔══██╗██║████╗  ██║██╔════╝ ██╔════╝
//  █████╔╝ █████╗   ╚████╔╝     ██████╔╝██║██╔██╗ ██║██║  ██║██║██╔██╗ ██║██║  ███╗███████╗
//  ██╔═██╗ ██╔══╝    ╚██╔╝      ██╔══██╗██║██║╚██╗██║██║  ██║██║██║╚██╗██║██║   ██║╚════██║
//  ██║  ██╗███████╗   ██║       ██████╔╝██║██║ ╚████║██████╔╝██║██║ ╚████║╚██████╔╝███████║
//  ╚═╝  ╚═╝╚══════╝   ╚═╝       ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝
binds {
    Mod+Q repeat=false { close-window; }

    // TUI apps
    Mod+Return { spawn "alacritty"; }
    Mod+V { spawn "sh" "-c" "$TERMINAL -e nvim"; }

    // GUI apps
    Mod+Shift+V { spawn "code" "--ozone-platform-hint=auto" "--ozone-platform=wayland"; }
    Mod+F { spawn "sh" "-c" "$BROWSER"; }
    Mod+O { spawn "obsidian"; }
    Mod+T { spawn "telegram-desktop"; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }


    XF86MonBrightnessUp repeat=false { spawn "brightnessctl" "set" "+5%"; }
    XF86MonBrightnessDown repeat=false { spawn "brightnessctl" "set" "5%-"; }

    XF86AudioRaiseVolume repeat=false { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume repeat=false { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
}


//  ██╗    ██╗ ██████╗ ██████╗ ██╗  ██╗███████╗██████╗  █████╗  ██████╗███████╗███████╗
//  ██║    ██║██╔═══██╗██╔══██╗██║ ██╔╝██╔════╝██╔══██╗██╔══██╗██╔════╝██╔════╝██╔════╝
//  ██║ █╗ ██║██║   ██║██████╔╝█████╔╝ ███████╗██████╔╝███████║██║     █████╗  ███████╗
//  ██║███╗██║██║   ██║██╔══██╗██╔═██╗ ╚════██║██╔═══╝ ██╔══██║██║     ██╔══╝  ╚════██║
//  ╚███╔███╔╝╚██████╔╝██║  ██║██║  ██╗███████║██║     ██║  ██║╚██████╗███████╗███████║
//   ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝


//  ███╗   ███╗██╗███████╗ ██████╗███████╗██╗     ██╗      █████╗ ███╗   ██╗███████╗ ██████╗ ██╗   ██╗███████╗
//  ████╗ ████║██║██╔════╝██╔════╝██╔════╝██║     ██║     ██╔══██╗████╗  ██║██╔════╝██╔═══██╗██║   ██║██╔════╝
//  ██╔████╔██║██║███████╗██║     █████╗  ██║     ██║     ███████║██╔██╗ ██║█████╗  ██║   ██║██║   ██║███████╗
//  ██║╚██╔╝██║██║╚════██║██║     ██╔══╝  ██║     ██║     ██╔══██║██║╚██╗██║██╔══╝  ██║   ██║██║   ██║╚════██║
//  ██║ ╚═╝ ██║██║███████║╚██████╗███████╗███████╗███████╗██║  ██║██║ ╚████║███████╗╚██████╔╝╚██████╔╝███████║
//  ╚═╝     ╚═╝╚═╝╚══════╝ ╚═════╝╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝ ╚═════╝  ╚═════╝ ╚══════╝
