/* === Общие стили === */
* {
    font-family: "Hack Nerd Font", monospace;
    font-weight: 400;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    color: #ffffff;
    transition: background-color 0.5s;
}

tooltip {
    background: rgb(30, 30, 46);
    border-radius: 7px;
    padding: 4px 8px;
}

#clock,
#custom-power {
    padding: 0 10px;
    margin: 4px;
    background: rgba(30, 30, 46, 0.7);
    color: #ffffff;
    border-radius: 7px;
}

#workspaces {
    background: rgb(30, 30, 46);
    color: #f5e0dc;
    padding: 1px;
    margin: 5px 8px;
}

#workspaces button {
    padding: 0 8px;
    margin: 0 2px;
    color: #ffffff;
    background: transparent;
    border-radius: 5px;
}

#workspaces button.active {
    background: rgba(167, 95, 255, 0.6);
}

#workspaces button:hover {
    background: rgba(167, 95, 255, 0.4);
}