/* === Общие стили === */
* {
    font-family: "Hack Nerd Font", monospace;
    font-weight: 400;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    color: #ffffff;
    transition: background-color 0.5s;
}

tooltip {
    background: rgb(30, 30, 46);
    border-radius: 7px;
    padding: 4px 8px;
}

#clock,
#custom-power,
#custom-workspaces {
    padding: 0 10px;
    margin: 4px;
    background: rgba(30, 30, 46, 0.7);
    color: #ffffff;
    border-radius: 7px;
}
